<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <script src = "assets/javascripts/angular.js" type="text/javascript"></script>
    <script src = "assets/javascripts/controllers.js" type="text/javascript"></script>
</head>
<body ng-controller="MovieListCtrl">
<div class="container-fluid">
    Search: <input ng-model="name"><button type="button" ng-click="update(name)">ok</button>
    <ul>
        <li ng-repeat="movie in movies">
            <img src={{movie.poster_path}}> {{movie.title}}<button type="button" ng-click="addMovie(movie)">add</button>
        </li>
    </ul>
</div>
</body>
</html>